PUBLIC_BETTER_AUTH_URL="http://localhost:5000"
BETTER_AUTH_SECRET="your_auth_secret_here"

PG_DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
UPSTASH_REDIS_REST_TOKEN="your_redis_token_here"
UPSTASH_REDIS_REST_URL="https://your-redis-url.upstash.io"

GOOGLE_CLIENT_SECRET="your_google_client_secret_here"
GOOGLE_CLIENT_ID="your_google_client_id_here"
GITHUB_CLIENT_SECRET="your_github_client_secret_here"
GITHUB_CLIENT_ID="your_github_client_id_here"

AUTH_DOMAIN="example.com"
BUILD_MODE="cloudflare"
