name: Checks

on:
  - push

jobs:
  type_build_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: |
          bun install
          bun run check
          bun run build
